@model WebApplication2.Models.NotesViewModel

@{
    ViewBag.Title = "Usuń notatkę";
}

<h2>Delete</h2>

<h3>Czy jesteś pewien, że chcesz usunąć tę notatkę?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Temat")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thema)
        </dd>

        <dt>
            @Html.DisplayName("Tekst")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń notatkę" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy notatek", "Index")
        </div>
    }
</div>
