@model IEnumerable<WebApplication2.Models.NotesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista notatek</h2>

<p>
    @Html.ActionLink("Stwórz nową notatkę", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayName("Temat")
        </th>
        <th>
            @Html.DisplayName("Tekst")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrXalSoPE2agySgycP7WSX0ndZIVan_RwESUsWe1ka1vqyef2a" style="height:20px;width:20px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
           
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
